# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer vendor dir
/vendor

# composer itself is not needed
composer.phar

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

# Ignore any file named foo.txt.
.bowerrc
# Ignore any file named foo.txt.
composer.json
# Ignore any file named foo.txt.
composer.lock
# Ignore any file named foo.txt.
LICENSE.md
# Ignore any file named foo.txt.
README.md
# Ignore any file named foo.txt.
requirements.php
# Ignore any file named foo.txt.
yii
# Ignore any file named foo.txt.
yii.bat